.msg-containter {
    max-width: 980px;
    margin: 0 auto;
}
.msg-row {
    //border: 1px solid #ddd;
    margin: 0.5em 0.5em 1em;
    padding: 0 0 0;
}

.msg-info, .msg-success, .msg-warning, .msg-error {
    margin: 10px 0px;
    padding:12px;
 
}
.msg-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg-error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.msg-row a {
  display: inline-block;  
  text-align: right;
  text-decoration: none;
  margin-left: 2em;
  //font-size: 0.8em;
  //font-weight: bold;
}

.msg-row a {
  display: inline-block;  
  text-align: right;
  text-decoration: none;
  color: inherit;
  margin-left: 2em;
  //font-size: 0.8em;
  font-weight: bold;
}