head {
  widht: 100%;
  margin: auto;
  text-align: center;
}

body {
  widht: 100%;
  margin: auto;
  text-align: center;
  background: #F9F8F7;  
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 0.01em;
}


.very-small-space-margin-left {
    margin: 0em 0em 0em 0.5em;
}
.very-small-space-margin-top {
    margin: 0.5em 0em 0em 0em;
}
.very-small-space-padding-left {
    padding: 0em 0em 0em 0.5em;
}

.small-space-margin-all {
    margin: 1em 1em 1em 1em;
}
.small-space-padding-bottom {
    padding-bottom: 1em;
}
.normal-space-padding-bottom {
    padding-bottom: 1.5em;
}
.border-top {
    border-top: 1px solid  #ddd;
    margin: 0em 1em 0em 1em; 
}
.txt-to-left {
    text-align: left;
}




.header-tables {
    max-width: 980px;
    margin: 0 auto;    
}
.header-table {
    //border: 1px solid #ddd;
    margin: 0 0.5em 0.5em;
    padding: 0 0 0;
    background: #F9EEB3;     
}
.title {
    font-size: 2em;
    font-weight: normal;
    padding: 1.2em 0 0;    
}
.header-table img {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}



.btn-img {
    width: 1.3em;
    height: 1.3em;
}
.right-space-small {
    margin-right: 1em;
}



.buttons-tables {
    max-width: 980px;
    margin: 0 auto;
}



.status-tables {
    max-width: 980px;
    margin: 0 auto;
}
.status-table {
    //border: 1px solid #ddd;
    margin: 0.5em 0.5em 1em;
    padding: 0 0 0;
}
.status-table-temperature .status-table-header {
    background: #519251;
}
.status-table-humidity .status-table-header {
    background: #2c4985;
}
.status-table-battery .status-table-header {
    background: #ff9999;
}
.status-table-header {
    background: #111;
    color: #fff;
}
.status-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}
.status-table-status {
    font-size: 4em;
    margin: 0.2em 0 0;
    //font-weight: 100;
}
.status-table-header .status-unit {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 1em;
    //font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}



.actual-task-tables {
    max-width: 980px;
    margin: 0 auto;
}
.actual-task-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 1em;
    padding: 0 0 0;
}
.actual-task-table .actual-task-table-header {
    background: #C19875;
}
.actual-task-table-header {
    background: #111;
    color: #fff;    
}
.actual-task-table-header h2 {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}
.actual-task-table-header .actual-task-name {
    font-size: 2.5em;
    margin: 0.2em 0 0;
    //font-weight: 100;
}
.actual-task-table-header .actual-task-description {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 1em;
    padding-bottom: 1em;
    //font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}




.datetime-tables {
    max-width: 980px;
    margin: 0 auto;
}
.datetime-table {
    //border: 1px solid #ddd;
    margin: 0 0.5em 1em;
    padding: 0 0 0;
}
.datetime-table {
    background: #111;
    color: #fff;
    padding-bottom: 1em;    
}
.datetime-table h2 {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}
.datetime-table .dev-date .dev-time {
    display: block;
    text-transform: uppercase;
    font-size: 1.0em;
    //margin-top: 1em;
    //padding-bottom: 1em;
    //font-weight: 400;
    //color: rgba(255, 255, 255, 0.5);
    //color: #fff;
}




.settings-tables {
    max-width: 980px;
    margin: 0 auto;
}
.settings-table {
    //border: 1px solid #ddd;
    margin: 0.5em 0.5em 1em;
    padding: 0 0 0;
}



.tasks-tables {
    max-width: 980px;
    margin: 0 auto;
}
.task-table {
    border: 1px solid #ddd;
    margin: 0.5em 0.5em 0.5em;
    padding: 0 0 0;
}
.color-odd {
    background: #D1C9BE;
}
.color-even {
    background: #D8B17B;
}
.task-img-status {
    margin: 2.4em 0em 0em 0.5em;
    width: 2em;
    height: 2em;    
}
.task-img {
    margin: 0.5em 0em 0.5em 0.5em;
}
.text-align-left {
    text-align: left;
}
.task-name {
    display: block;
}
.task-name h2 {
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;    
}
.task-description {
    display: block;
    text-align: left;
    padding: 0 0 0.5em 0.3em;
}
.task-freq {
    display: block;
    text-align: left;
    margin: 1em 0em 0em 0em;
}
.task-duration {
    display: block;
    text-align: left;
    margin: 0em 0em 0em 0em;
}
.task-pulsing {
    display: block;
    text-align: left;
    margin: 0em 0em 0em 0em;
}
.task-buttons {
    vertical-align: middle;
}



.task-settings-tables {
    max-width: 980px;
    margin: 0 auto;
}
.task-settings-table {
    //border: 1px solid #ddd;
    margin: 0.5em 0.5em 1em;
    padding: 0 0 0;
}
.select-preview {
    display: inline-block;
    height: 6em;
    width: 6em;
}



.api-tables {
    max-width: 980px;
    margin: 0 auto;    
}
.api-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 0.5em;
    padding: 0 0 0;
    //background: #F9F9F9;     
}
.api-uri {
    font-size: 0.9em;
    font-weight: bold;    
}
.api-description .code, .api-uri .code {
    display: inline-block;    
    font-family: monospace, monospace;
    font-size: 0.9em;
    //font-weight: bold;
    color: red;        
}